@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.nav {
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  transition: height 1s ease-in-out;
  z-index: 1000;
  background: #fff;
}
.nav .nav-menu {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
}
.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 96%;
  cursor: pointer;
  display: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.3rem 0;
}
.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: #000;
}
.collapse {
  height: 34rem;
}
.nav ul {
  display: flex;
  margin: 0;
}
.nav ul li {
  list-style: none;
  padding: 14px;
  font-size: 14px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #000;
}
.nav ul a {
  text-decoration: none;
  color: #0000;
}
.nav ul li:hover {
  color: #fff;
  background-color: #f77e00;
  border-radius: 35px;
}

.nav ul a li#active {
  color: #fff;
  background-color: #f77e00;
  border-radius: 35px;
}
.nav .nav-brand {
  padding-left: 20px;
}
.nav .main-nav {
  padding-right: 20px;
}

@media screen and (max-width: 1280px) {
  .nav {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    padding-left: 0%;
    padding-right: 0%;
  }
  .nav .nav-menu {
    display: initial;
  }
  .nav .nav-menu,
  .nav ul {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }
  .nav ul li:hover {
    color: white;
    border-bottom: unset;
  }
  .nav ul #active {
    border-bottom: unset;
  }
  .nav ul #active a {
    color: unset;
  }
  .nav ul #active a:hover {
    color: #f77e00;
    background-color: #fff;
  }
  .nav {
    min-height: 8vh;
    padding-top: 6px;
  }

  .nav ul a {
    text-decoration: none;
    color: #fff;
  }
  .nav .nav-brand h1 {
    color: #fff;
  }
  .nav ul a li#active {
    color: #f77e00;
    background-color: #fff;
  }
}
@media screen and (max-width: 500px) {
  .nav {
    min-height: 8vh;
  }
  .nav .toggle-collapse {
    width: 90%;
  }
  .nav .nav-brand {
    padding-top: 1rem;
  }
  .nav .toggle-collapse .toggle-icons {
    padding: 1.1rem 0;
  }
}
@media screen and (min-height: 1000px) {
  .nav {
    min-height: 5.5vh;
  }
}
