
button {
  cursor: pointer;
}
body {
  background: lightgrey;
}
.hero {
  background-image: url('../image/hero.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 0 70px;
}
.hero .hero-wrapper {
  width: 40%;
  color: #fff;
}
.hero .hero-wrapper h1 {
  font-size: 50px;
  padding-bottom: 35px;
}
.hero .hero-wrapper p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
}
.goal {
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
}
.goal .goal-left {
  width: 45%;
}
.goal .goal-left h1 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 30px;
}
.goal .goal-wrapper .goal-card {
  display: flex;
  padding-bottom: 30px;
}
.goal .goal-wrapper .goal-card .goal-icon {
  padding-top: 10px;
  padding-right: 20px;
  font-size: 30px;
}
.goal .goal-wrapper .goal-card .goal-icon .fa-eye {
  color: #891a9d;
}
.goal .goal-wrapper .goal-card .goal-icon .fa-bullseye {
  color: #f77e00;
}
.goal .goal-wrapper .goal-card h2 {
  color: #bb4756;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}
.goal .goal-wrapper .goal-card p {
  font-weight: 300;
}
.goal .goal-left button {
  background: none;
  border: none;
  color: #6c63ff;
  font-size: 16px;
  font-weight: 600;
}
.goal .goal-left button i {
  padding-left: 10px;
}
.goal .goal-left button:hover {
  color: #891a9d;
}
.goal .goal-left button:hover i {
  transition: all 1s;
  padding-left: 30px;
}
.goal .goal-right {
  width: 50%;
}
.goal .goal-right img {
  width: 100%;
  height: 100%;
}
.events {
  padding: 70px;
  background: #fff;
}
.events h1 {
  text-align: center;
  font-size: 40px;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 600;
}
.events .events-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.events .events-wrapper .events-card {
  width: 32%;
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  margin-bottom: 30px;
  margin-right: 1.33%;
}
.events .events-wrapper .events-card:hover {
  box-shadow: 0 0 15px #e6e6e6;
  cursor: pointer;
}
.events .events-wrapper .events-card img {
  width: 100%;
}
.events .events-wrapper .events-card .events-text {
  padding: 20px 10px 10px 10px;
}
.events .events-wrapper .events-card .events-text h2 {
  font-weight: 600;
  font-size: 18px;
  color: #333;
  padding-bottom: 8px;
}
.events .events-wrapper .events-card .events-text p {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
  color: #333;
}
.events .events-wrapper .events-card .events-text button {
  border: 1px solid #868686;
  color: #868686;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 4px;
  background: none;
}
.partners {
  padding: 70px;
  background: #fff;
}
.partners .partners-head {
  text-align: center;
}
.partners .partners-head h1 {
  color: #000;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.partners .partners-head p {
  font-weight: 300;
  font-size: 20px;
}
.partners .partners-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
}
.partners .partners-wrap .partners-img {
  width: 12%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.partners .partners-wrap .partners-img img {
  width: 60%;
}
.gallery {
  padding: 70px;
  background: #fff;
}
.gallery .gallery-head {
  text-align: center;
  padding-bottom: 30px;
}
.gallery .gallery-head h1 {
  color: #000;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.gallery .gallery-head p {
  font-weight: 300;
  font-size: 20px;
}
.gallery .swiper {
  width: 100%;
  height: 400px;
}

.gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: lightseagreen;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.donate {
  padding: 70px;
  background: #fff;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.donate .donate-left {
  width: 58%;
}
.donate .donate-left img {
  width: 100%;
}
.donate .donate-right {
  width: 40%;
  display: flex;
  align-items: center;
}
.donate .donate-right h1 {
  font-size: 35px;
  padding-bottom: 20px;
  font-weight: 600;
}
.donate .donate-right p {
  font-size: 20px;
  padding-bottom: 30px;
  font-weight: 300;
  padding-bottom: 40px;
}
.donate .donate-right button {
  background-color: #f77e00;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 40px;
  border: none;
}
.host {
  padding: 70px;
  background: #282828;
  color: #fff;
  text-align: center;
}
.host h1 {
  font-size: 65px;
  padding-bottom: 20px;
  font-weight: 600;
}
.host p {
  font-size: 20px;
  padding-bottom: 30px;
  font-weight: 300;
  padding-bottom: 40px;
}
.host button {
  background-color: #f77e00;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 40px;
  border: none;
}

/*------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .hero {
    padding: 0 20px;
  }
  .hero .hero-wrapper {
    width: 60%;
  }
  .goal {
    padding: 50px 20px;
  }
  .goal .goal-left {
    width: 100%;
    padding-bottom: 30px;
  }
  .goal .goal-right {
    width: 100%;
  }
  .goal .goal-right img {
    height: unset;
  }
  .events {
    padding: 50px 20px;
  }
  .events .events-wrapper .events-card {
    width: 48%;
  }
  .gallery {
    padding: 50px 20px;
  }
  .gallery .swiper {
    height: 450px;
  }
  .partners {
    padding: 50px 20px;
  }
  .donate {
    padding: 50px 20px;
  }
  .donate .donate-left {
    width: 100%;
  }
  .donate .donate-right {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
  }
  .host {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 900px) {
  .hero .hero-wrapper {
    width: 80%;
  }
  .partners .partners-wrap .partners-img {
    width: 30%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .hero .hero-wrapper {
    width: 100%;
  }
  .goal .goal-left h1 {
    text-align: center;
    padding-bottom: 40px;
  }
  .events .events-wrapper .events-card {
    width: 100%;
  }
  .partners .partners-wrap .partners-img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .partners .partners-wrap .partners-img {
    width: 100%;
    margin-bottom: 50px;
  }
  .gallery .swiper {
    height: 350px;
  }
}
